<!-- <h1>Play Battelship!</h1>
<p>Find me in app/views/static_pages/home.html.erb</p> -->

<div id="board">
  <div id="messageArea"></div>
  <table>
    <!-- row 1 -->
    <tr>
      <td id="00"></td>
      <td id="01"></td>
      <td id="02"></td>
      <td id="03"></td>
      <td id="04"></td>
      <td id="05"></td>
      <td id="06"></td>
    </tr>

    <!-- row 2 -->
    <tr>
      <!-- <td id="07"></td>
      <td id="08"></td>
      <td id="09"></td> -->
      <td id="10"></td>
      <td id="11"></td>
      <td id="12"></td>
      <td id="13"></td>
      <td id="14"></td>
      <td id="15"></td>
      <td id="16"></td>
    </tr>

    <!-- row 3 -->
    <tr>
      <!-- <td id="17"></td>
      <td id="18"></td>
      <td id="19"></td> -->
      <td id="20"></td>
      <td id="21"></td>
      <td id="22"></td>
      <td id="23"></td>
      <td id="24"></td>
      <td id="25"></td>
      <td id="26"></td>
    </tr>

    <!-- row 4 -->
    <tr>
      <!-- <td id="27"></td>
      <td id="28"></td>
      <td id="29"></td> -->
      <td id="30"></td>
      <td id="31"></td>
      <td id="32"></td>
      <td id="33"></td>
      <td id="34"></td>
      <td id="35"></td>
      <td id="36"></td>
    </tr>

    <!-- row 5 -->
    <tr>
      <!-- <td id="37"></td>
      <td id="38"></td>
      <td id="39"></td> -->
      <td id="40"></td>
      <td id="41"></td>
      <td id="42"></td>
      <td id="43"></td>
      <td id="44"></td>
      <td id="45"></td>
      <td id="46"></td>
    </tr>
    <!-- row 6 -->
    <tr>
      <!-- <td id="47"></td>
      <td id="48"></td>
      <td id="49"></td> -->
      <td id="50"></td>
      <td id="51"></td>
      <td id="52"></td>
      <td id="53"></td>
      <td id="54"></td>
      <td id="55"></td>
      <td id="56"></td>
    </tr>

    <!-- row 7 -->
    <tr>
      <!-- <td id="57"></td>
      <td id="58"></td>
      <td id="59"></td> -->
      <td id="60"></td>
      <td id="61"></td>
      <td id="62"></td>
      <td id="63"></td>
      <td id="64"></td>
      <td id="65"></td>
      <td id="66"></td>
    </tr>
    <!-- row 11 (not used) -->
    <tr class="lastrow">
      <td id="#">0</td>
      <td id="#">1</td>
      <td id="#">2</td>
      <td id="#">3</td>
      <td id="#">4</td>
      <td id="#">5</td>
      <td id="#">6</td>
    </tr>
  </table>
  <form>
    <input type="text" id="guessInput" placeholder="0A">
    <input type="button" id="fireButton" value="Fire!">
  </form>
</div>

















