/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*========================
    general
  ========================*/

body {
background-color: #ebf0ed;
/*background-color: #93c8a0;*/
}

code h1 {
  color: #2a2c32;
  font-size: 40px;
  margin-bottom: 30px;
  text-align: center;
}

.hit {
  background: url("ship.png") no-repeat center center;
}

.miss {
  background: url("miss.png") no-repeat center center;
}

/*========================
    7grid board
  ========================*/

#board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
/*  background: url("board.jpg") no-repeat;*/
}

#board #messageArea {
  position: absolute;
  top: 18px;
  left: 0px;
  color: rgb(83, 175, 19);
  width: 328px;
  background-color: #2a2c32;
  border-radius: 8px;
  padding: 20px 30px;
  box-shadow: 0px 4px 0px #6c9375;
  color: #fff;
  height: 14px;
  font-size: 18px;
}

#board table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0px;
}

#board td {
  width: 94px;
  height: 94px;
  border: 1px solid #c9c2b6;
  color: #C4C5BD;
  text-align: center;
}

#board td:hover {
  background-color: #93c8a0;
}

#board form {
  position: absolute;
  top: 18px;
  right: 0px;
  padding: 15px;
  background-color: #93c8a0;
  box-shadow: 0px 4px 0px #6c9375;
  border-radius: 8px;
}

#board form #guessInput {
  font-size: 12px;
  outline: none;
  background-color: #fff;
  border: 1px solid #c9c2b6;
  padding: 4px 25px;
  width: 176px;
}

#board form #fireButton {
  font-size: 12px;
  outline: none;
  background-color: #d66554;
  border: 1px solid #d66554;
  padding: 4px 25px;
  width: 80px;
  border-radius: 19px;
  color: #fff;
}

#board form #fireButton:hover {
  background-color: #2a2c32;
  border: 1px solid #2a2c32;
}

#board .lastrow td {
  border: 1px solid black !important;
  text-align: center !important;
}

#board .lastrow td:hover {
  background-color: black !important;
}

code h3 {
  text-align: center;
}

code h3 a {
  color: #2a2c32;
}

code h3 a:hover {
  text-align: center;
  color: #6c9375;
}


/*========================
    10grid board
  ========================*/

#gameBoard {
  position: relative;
  width: 1200px;
  height: 863px;
  margin: auto;
  /*background: url("board.jpg") no-repeat;*/
}

#gameBoard #messageArea {
  position: absolute;
  top: 18px;
  left: 88px;
  color: rgb(83, 175, 19);
  width: 328px;
  background-color: #2a2c32;
  border-radius: 8px;
  padding: 20px 30px;
  box-shadow: 0px 4px 0px #477aa4;
  color: #fff;
  height: 14px;
  font-size: 18px;
}

#gameBoard table {
  position: absolute;
  left: 173px;
  top: 58px;
  border-spacing: 0px;
  margin: 40px 0px;
}

tr {
  color: red;
}

#gameBoard td {
  width: 80px;
  height: 80px;
  border: 1px solid #c9c2b6;
  color: #C4C5BD;
  text-align: center;
}

#gameBoard td:hover {
  background-color: #8db5d1;
}

#gameBoard form {
  position: absolute;
  top: 18px;
  right: 88px;
  padding: 15px;
  background-color: #8db5d1;
  box-shadow: 0px 4px 0px #477aa4;
  border-radius: 8px;
}

#gameBoard form #guessInput {
  font-size: 12px;
  outline: none;
  background-color: #fff;
  border: 1px solid #c9c2b6;
  padding: 4px 25px;
  width: 176px;
}

#gameBoard form #fireButton {
  font-size: 12px;
  outline: none;
  background-color: #d66554;
  border: 1px solid #d66554;
  padding: 4px 10px;
  width: 80px;
  border-radius: 19px;
  color: #fff;
}

#gameBoard form #fireButton:hover {
  background-color: #2a2c32;
  border: 1px solid #2a2c32;
}









#gameBoard .lastrow td {
  border: 1px solid black !important;
  text-align: center !important;
}

#gameBoard .lastrow td:hover {
  background-color: black !important;
}