/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*========================
    general
  ========================*/

body {
background-color: black;
}

.hit {
  background: url("ship.png") no-repeat center center;
}

.miss {
  background: url("miss.png") no-repeat center center;
}

/*========================
    7grid board
  ========================*/

#board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
/*  background: url("board.jpg") no-repeat;*/
}

#board #messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
}

#board table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0px;
}

#board td {
  width: 94px;
  height: 94px;
  border: 1px solid green;
  color: #fff;
}

#board td:hover {
  background-color: red;
}

#board form {
  position: absolute;
  top: 18px;
  right: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

#board form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

#board .lastrow td {
  border: 1px solid black !important;
  text-align: center !important;
}

#board .lastrow td:hover {
  background-color: black !important;
}



/*========================
    10grid board
  ========================*/

#gameBoard {
  position: relative;
  width: 1333px;
  height: 863px;
  margin: auto;
  /*background: url("board.jpg") no-repeat;*/
}

#gameBoard #gameMessageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
}

#gameBoard table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0px;
  margin: 40px 0px;
}

tr {
  color: red;
}

#gameBoard td {
  width: 80px;
  height: 80px;
  border: 1px solid green;
  color: #fff;
  text-align: center;
}

#gameBoard td:hover {
  background-color: red;
}

#gameBoard form {
  position: absolute;
  top: 18px;
  right: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

#gameBoard form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

#gameBoard .lastrow td {
  border: 1px solid black !important;
  text-align: center !important;
}

#gameBoard .lastrow td:hover {
  background-color: black !important;
}